<!DOCTYPE html>
<html lang="en">
<head>
    <% include templates/heady.ejs %> -->
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
    <script src="/index.js"></script>
</head>
<body class="container">

    <header>
        <!--% include ./partials/header %> -->
    </header>

    <main>
        <div class="error">
            <h1>This is ejs</h1>
            <p><%= text %></p>
        </div>
    </main>

</body>
</html>