html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.warning {
    background: lightyellow;
}
.error {
    background: salmon;
}
.exception, .fatal {
    background: pink;
}
main {
    margin: 5.5em 1em 1em 1em;
}
header {
    height: 5em;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 0 1em;
    background: #4c4c4c;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button {
    height: 2.3em;
    margin-right: 2em;
    font-size: 1.2em;
}
