html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

main {
    margin: 5.5em 1em 1em 1em;
    display: flex;
    flex-direction: column;
}
.reversed {
    flex-direction: column-reverse;
}

/* commits list */
/* players list */
.links {
    flex-direction: column; /* dont allow reversing */
    flex-wrap: wrap;
    max-height: calc(100% - 5.5em - 1em);
    margin-left: 0;
}
.list-item {
    margin: 0.1em 0;
    margin-left: 0.4em;
    padding: 0 0.6em;
}

time {
    margin-left: 1em;
    font-size: 0.7em;
}

header {
    height: 5em;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 0 1em;
    background: #4c4c4c;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
}
#title {
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 0.3em;
}
#controls {
    display: flex;
    height: 100%;
    align-items: center;
}
#controls > * {
    font-size: 1.05em;
}
#flipOrderContainer {
    /* background: rgba(83, 83, 83, 0.514); */
    padding-right: .6em;
    height: 2.3em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.2em;
}
#flipOrderContainer > input {
    height: 1.4em;
    width: 1.4em;
    margin: 0.5em;
}
#filterMessage {
    height: 2.3em;
    margin-right: 1.2em;
    padding: 0.3em 0.4em;
}
button {
    height: 2.3em;
    margin-right: 2em;
}

.warning {
    background: lightyellow;
}
.error {
    background: salmon;
}
.exception, .fatal {
    background: pink;
}
